.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto
}

.from-top {
    opacity:0 ;
    transform: translateY(-30px);
}
.from-bottom {
    opacity:0 ;
    transform: translateY(30px);
}
.from-left {
    opacity:0 ;
    transform: translateX(-30px);
}

.from-right {
    opacity:0 ;
    transform: translateX(30px);
}

.reveal-horizontal {
    opacity:1 ;
    transform: translateX(0);
    transition: transform  1s ease,opacity 1s ease !important;
}
.reveal-vertical {
    opacity: 1;
    transform: translateY(0);
    transition: transform  1s ease, opacity 1s ease !important ;
}