$orange:#FF4F44;
$orange-red:#900900;
$light-orange:#FF794F;
$blue:#3D4061;

$white:#fff;
$gray:#333;
$light-gray:#C4C4C4;
$v-light-gray:#F4F4F4;
$black:#24242C;

// Sizes
$xs-size:.8rem;
$s-size:1.2rem;
$m-size:1.6rem;
$ml-size:2.4rem;
$l-size:3.6rem;
$xl-size:4.8rem;
$xxl-size:6.4rem;