.footer {
    background-color: $black;
    padding: 10vh 0 12vh 0;
    min-height: 40vh;
    padding-bottom: 15rem;
    color: $white;
    border-radius: 0 100px 0 0;
    display: flex;
    align-items: center;
    .footer-el {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: flex-end;
        gap: 5rem;
        ul {
            
            // background-color: red;
            .logo {
                font-size: 4rem;
                color: $white;
                margin-bottom: 3rem;
            }
            li:not(.logo){
                margin-bottom: 1rem;
                line-height: 30px;

                a {
                    transition: .3s;

                    &:hover {
                        
                    }
                }
            }
        }
    }
}